<%- include('./partials/header') -%>
<section id="about">
    <div class="container">
        <h2>Series</h2> 
        <ul>
            <li>
                <h3>Titulo Serie</h3>
                <p>Assistindo/assistido/para assistir</p>
                <button>Editar</button>
                <button>Excluir</button>
            </li>
        </ul>
    </div>
</section>
<%- include('./partials/footer') -%>