<%- include('./partials/header') -%>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Sobre</h2>
                <p class="lead">Projeto Minhas Series</p>
                <ul>
                    <li>Projeto desenvolvido durante o curso do Fullstack master do DevPleno.</li>
                    <li>O objetivo desse projeto e destinado para o uso pessoal que permite o 
                        gerenciamento de series de interesse do usuario, afim de auxilia-lo nas 
                        indicacoes fornecidas por outras fontes.
                    </li>
                </ul>
                <p class="lead">Tecnologias utilizadas</p>
                <ul>
                    <li>HTML, CSS, JavaScript.</li>
                    <li>Bootstrap</li>
                    <li>NodeJS</li>
                    <li>MongoDB</li>
                </ul>
                <p class="lead">Dependencias</p>
                <ul>
                    <li>Express</li>
                    <li>EJS</li>
                    <li>Mongoose</li>
                    <li>Body-Parser</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') -%>